html * {
    font-family: Comfortaa;
}

.navbar-inverse .navbar-brand {
    color: #ffffff !important;
}

.btn-h1-spacing {
    margin-top: 18px;
    font-size: x-small;
}

.form-spacing-top {
    margin-top: 30px;
}

.login-button-top {
    margin-top: 12%;
    margin-right: 8px;
}

.comment-top {
    margin-top: 50px;
}

.small-col {
    width: 65%;
}

.pencil-right {
    padding-left: 57%;
}

.save-profile {
    margin-top: 10px;
}

.btn-primary {
    background-color: #222;
    border-color: #080808;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000;
}

.pagination {
    background-color: #222;
    border-color: #080808;
}

.pagination:hover {
    color: #fff;
    background-color: #000;
}

.dropdown-menu {
    background-color: #222;
    border-color: #080808;
    padding: 0px;
}

.dropdown-menu>table>tbody>tr>td>a {
    color: #999;
    display:block;
    text-decoration: none;
}

.dropdown-menu>table {
    margin-bottom: 0px;
}

.dropdown-menu>table>tbody>tr:nth-child(4) {
    border-top: solid; !important;
    border-color: #999;
    border-width: 1.2px;
}

.dropdown-menu>table>tbody>tr>td {
    border: none;
}

.dropdown-menu>table>tbody>tr:hover {
    color: #fff;
    background-color: #000;
}

#expenses-sidebar {
     background-color: lightsalmon;
     height: 85%;
     width: 13%;
     position: fixed;
     border: indianred;
     border-style: solid;
     -moz-box-shadow: 0 0 8px #F21B1B;
     -webkit-box-shadow: 0 0 8px #F21B1B;
     box-shadow: 0 0 8px #F21B1B;
}

#expenses-sidebar>.dl-horizontal>table>thead>tr>th {
    text-align: center;
}

#expenses-sidebar>.dl-horizontal>table {
    table-layout: fixed;
}

#expenses-sidebar>.dl-horizontal>table>tbody>tr>td  {
    border: none;
}

#incomes-sidebar {
    background-color: lightgreen;
    height: 85%;
    width: 13%;
    position: fixed;
    border: limegreen;
    border-style: solid;
    -moz-box-shadow: 0 0 8px #27F55B;
    -webkit-box-shadow: 0 0 8px #27F55B;
    box-shadow: 0 0 8px #27F55B;
}

#incomes-sidebar>.dl-horizontal>table>thead>tr>th {
    text-align: center;
}

#incomes-sidebar>.dl-horizontal>table {
    table-layout: fixed;
}

#incomes-sidebar>.dl-horizontal>table>tbody>tr>td  {
    border: none;
}

#expenses-create {
    background-color: lightsalmon;
    border: indianred;
    border-style: solid;
    -moz-box-shadow: 0 0 8px #F21B1B;
    -webkit-box-shadow: 0 0 8px #F21B1B;
    box-shadow: 0 0 8px #F21B1B;
}

#incomes-create {
    background-color: lightgreen;
    border: limegreen;
    border-style: solid;
    -moz-box-shadow: 0 0 8px #27F55B;
    -webkit-box-shadow: 0 0 8px #27F55B;
    box-shadow: 0 0 8px #27F55B;
}

#expenses-view {
    background-color: lightsalmon;
    border: indianred;
    border-style: solid;
    -moz-box-shadow: 0 0 8px #F21B1B;
    -webkit-box-shadow: 0 0 8px #F21B1B;
    box-shadow: 0 0 8px #F21B1B;
}

#incomes-view {
    background-color: lightgreen;
    border: limegreen;
    border-style: solid;
    -moz-box-shadow: 0 0 8px #27F55B;
    -webkit-box-shadow: 0 0 8px #27F55B;
    box-shadow: 0 0 8px #27F55B;
}

.content{
    margin-top: 70px;
}

.pagination>.active>span {
    background-color: #222;
}

.pagination>.active>span:hover {
    background-color: #000000;
}

.mob-wallet {
    float: left !important;
}